scripts/n8n_workflow_phase1.json
{
  "name": "Persona - 毎朝SNS自動投稿 Phase1",
  "_comment": "n8n Cloud にそのままインポート可能。Credentials に Google AI と Slack Webhook を登録してから使用してください。",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 6 * * *"}]
        }
      },
      "name": "毎朝6時トリガー",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "key", "value": "={{ $credentials.googleAiApiKey }}"}]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "contents",
            "value": "=[{\"parts\":[{\"text\":\"あなたはPersonaというAIマッチングアプリのSNSマーケターです。今日の投稿案を3本作ってください。\\n\\nPersonaの特徴:\\n- AIが代理で会話して相性チェック（AIシミュレーション機能）\\n- AI本人確認済みバッジ（セルフィー認証）\\n- 15問の価値観診断テスト\\n\\n各投稿案のフォーマット:\\n【投稿1】\\nタイプ: X（140文字以内）\\nキャプション: （日本語・ハッシュタグ含む）\\n画像プロンプト: （英語・Imagen 4向け）\\n\\n【投稿2】\\nタイプ: Instagram（300文字以内）\\nキャプション:\\n画像プロンプト:\\n\\n【投稿3】\\nタイプ: TikTok説明文（100文字以内）\\nキャプション:\\n画像プロンプト:\"}]}]"
          }]
        },
        "options": {}
      },
      "name": "Gemini Flash - 投稿案生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates[0].content.parts[0].text;\n\nconst posts = [];\nconst blocks = text.split(/【投稿[1-3]】/).filter(b => b.trim());\n\nfor (let i = 0; i < Math.min(blocks.length, 3); i++) {\n  const block = blocks[i];\n  const typeMatch = block.match(/タイプ: (.+)/);\n  const captionMatch = block.match(/キャプション: ([\\s\\S]+?)(?=画像プロンプト:|$)/);\n  const promptMatch = block.match(/画像プロンプト: (.+)/);\n  \n  posts.push({\n    postNumber: i + 1,\n    type: typeMatch ? typeMatch[1].trim() : 'X',\n    caption: captionMatch ? captionMatch[1].trim() : '',\n    imagePrompt: promptMatch ? promptMatch[1].trim() : 'modern dating app aesthetic, warm colors, couple silhouette'\n  });\n}\n\nreturn posts.map(p => ({json: p}));"
      },
      "name": "投稿案を解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/imagen-4.0-fast-generate-preview-06-06:predict",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "key", "value": "={{ $credentials.googleAiApiKey }}"}]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instances",
              "value": "=[{\"prompt\": \"{{ $json.imagePrompt }}, dating app marketing, japanese style, professional, vibrant, no text\"}]"
            },
            {
              "name": "parameters",
              "value": "={\"sampleCount\": 1, \"aspectRatio\": \"1:1\", \"safetyFilterLevel\": \"BLOCK_MEDIUM_AND_ABOVE\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Imagen 4 - 画像生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "webhookUri": "={{ $credentials.slackWebhookUrl }}",
        "text": "={{ '🌅 今日の投稿案 #' + $json.postNumber + '（' + $json.type + '）\\n\\n📝 キャプション:\\n' + $json.caption + '\\n\\n🖼 画像プロンプト:\\n' + $json.imagePrompt + '\\n\\n✅ 承認: /approve-' + $json.postNumber + '\\n❌ 却下: /reject-' + $json.postNumber }}",
        "otherOptions": {}
      },
      "name": "Slack - 承認依頼送信",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "毎朝6時トリガー": {"main": [[{"node": "Gemini Flash - 投稿案生成", "type": "main", "index": 0}]]},
    "Gemini Flash - 投稿案生成": {"main": [[{"node": "投稿案を解析", "type": "main", "index": 0}]]},
    "投稿案を解析": {"main": [[{"node": "Imagen 4 - 画像生成", "type": "main", "index": 0}]]},
    "Imagen 4 - 画像生成": {"main": [[{"node": "Slack - 承認依頼送信", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
